# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# poll requests list
pullrequests-list.txt

Team lead

https://github.com/vovkatom/AllAboutCode/pull/72
https://github.com/vovkatom/AllAboutCode/pull/74
https://github.com/vovkatom/AllAboutCode/pull/80
https://github.com/vovkatom/AllAboutCode/pull/99
https://github.com/vovkatom/AllAboutCode/pull/102
https://github.com/vovkatom/AllAboutCode/pull/104
https://github.com/vovkatom/AllAboutCode/pull/107
https://github.com/vovkatom/AllAboutCode/pull/108
https://github.com/vovkatom/AllAboutCode/pull/110
https://github.com/vovkatom/AllAboutCode/pull/111
https://github.com/vovkatom/AllAboutCode/pull/113
https://github.com/vovkatom/AllAboutCode/pull/114
https://github.com/vovkatom/AllAboutCode/pull/116
https://github.com/vovkatom/AllAboutCode/pull/117
https://github.com/vovkatom/AllAboutCode/pull/118
https://github.com/vovkatom/AllAboutCode/pull/120

https://github.com/vovkatom/AllAboutCode/pull/2
https://github.com/vovkatom/AllAboutCode/pull/3
https://github.com/vovkatom/AllAboutCode/pull/12
https://github.com/vovkatom/AllAboutCode/pull/18
https://github.com/vovkatom/AllAboutCode/pull/20
https://github.com/vovkatom/AllAboutCode/pull/24
https://github.com/vovkatom/AllAboutCode/pull/26
https://github.com/vovkatom/AllAboutCode/pull/28
https://github.com/vovkatom/AllAboutCode/pull/29
https://github.com/vovkatom/AllAboutCode/pull/31
https://github.com/vovkatom/AllAboutCode/pull/32
https://github.com/vovkatom/AllAboutCode/pull/41
https://github.com/vovkatom/AllAboutCode/pull/42
https://github.com/vovkatom/AllAboutCode/pull/46
https://github.com/vovkatom/AllAboutCode/pull/50
https://github.com/vovkatom/AllAboutCode/pull/53
https://github.com/vovkatom/AllAboutCode/pull/54
https://github.com/vovkatom/AllAboutCode/pull/67
https://github.com/vovkatom/AllAboutCode/pull/70