<section id="about" class="section-about">
  <div class="container">
    <div class="about">
      <h1 class="about-subtitle">About us</h1>
      <h2 class="about-title">
        Our сraftsmanship: сreating unique handmade furniture
      </h2>
      <p class="about-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-item">
          <h1 class="about-list-title">5+</h1>
          <p class="about-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-item">
          <h1 class="about-list-title">100%</h1>
          <p class="about-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-item">
          <h1 class="about-list-title">500+</h1>
          <p class="about-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture class="about-img">
      <source
        srcset="
          ./images/about_us/about_product.jpg    1x,
          ./images/about_us/about_product_2x.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ./images/about_us/about_product_tab.jpg    1x,
          ./images/about_us/about_product_tab_2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/about_us/about_product_mob.jpg    1x,
          ./images/about_us/about_product_mob_2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        src="./images/about_us/about_product.jpg"
        width="767"
        alt="about-img"
      />
    </picture>
  </div>
</section>
