<section id="bestsellers" class="bestsellers">
<div class="bestsellers-container container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="best-cont">
      <div class="left-part">
        <picture>
          <source
            srcset="
              ./images/bestsellers/bestsellers-1-desk.jpg    1x,
              ./images/bestsellers/bestsellers-1-desk-2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              ./images/bestsellers/bestsellers-1-tabl.jpg    1x,
              ./images/bestsellers/bestsellers-1-tabl-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/bestsellers/bestsellers-1-mob.jpg    1x,
              ./images/bestsellers/bestsellers-1-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            srcset="
              ./images/bestsellers/bestsellers-1.jpg    1x,
              ./images/bestsellers/bestsellers-1-2x.jpg 2x
            "
            src="./images/bestsellers/bestsellers-1.jpg"
            alt="The modern platform bed"
            width="704"
          />
        </picture>
        <div class="bestsellers-text-cont">
          <p class="bestsellers-text">The modern platform bed</p>
          <p class="bestsellers-price">750$</p>
        </div>
      </div>
      <div class="right-part">
        <ul class="bestsellers-list">
          <li class="bestsellers-item">
            <picture>
              <source
                srcset="
                  ./images/bestsellers/bestsellers-2-desk.jpg    1x,
                  ./images/bestsellers/bestsellers-2-desk-2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ./images/bestsellers/bestsellers-2-tabl.jpg    1x,
                  ./images/bestsellers/bestsellers-2-tabl-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/bestsellers/bestsellers-2-mob.jpg    1x,
                  ./images/bestsellers/bestsellers-2-mob-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />

              <img
                srcset="
                  ./images/bestsellers/bestsellers-2.jpg    1x,
                  ./images/bestsellers/bestsellers-2-2x.jpg 2x
                "
                src="../images/bestsellers/bestsellers-2.jpg"
                alt="The Cozy Lounge Chair"
                width="336"
              />
            </picture>
            <div class="bestsellers-text-cont">
              <p class="bestsellers-text">The Cozy Lounge Chair</p>
              <p class="bestsellers-price">230$</p>
            </div>
          </li>
          <li class="bestsellers-item">
            <picture>
              <source
                srcset="
                  ./images/bestsellers/bestsellers-3-desk.jpg    1x,
                  ./images/bestsellers/bestsellers-3-desk-2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ./images/bestsellers/bestsellers-3-tabl.jpg    1x,
                  ./images/bestsellers/bestsellers-3-tabl-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/bestsellers/bestsellers-3-mob.jpg    1x,
                  ./images/bestsellers/bestsellers-3-mob-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />

              <img
                srcset="
                  ./images/bestsellers/bestsellers-3.jpg    1x,
                  ./images/bestsellers/bestsellers-3-2x.jpg 2x
                "
                src="./images/bestsellers/bestsellers-3.jpg"
                alt="The industrial accent chair"
                width="336"
              />
            </picture>
            <div class="bestsellers-text-cont">
              <p class="bestsellers-text">The industrial accent chair</p>
              <p class="bestsellers-price">250$</p>
            </div>
          </li>
          <li class="bestsellers-item">
            <div class="no-mob">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers/bestsellers-4-desk.jpg    1x,
                    ./images/bestsellers/bestsellers-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />

                <source
                  srcset="
                    ./images/bestsellers/bestsellers-4-tabl.jpg    1x,
                    ./images/bestsellers/bestsellers-4-tabl-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <img
                  srcset="
                    ./images/bestsellers/bestsellers-4.jpg    1x,
                    ./images/bestsellers/bestsellers-4-2x.jpg 2x
                  "
                  src="./images/bestsellers/bestsellers-4.jpg"
                  alt="The sleek stand"
                  width="336"
                />
              </picture>
              <div class="bestsellers-text-cont">
                <p class="bestsellers-text">The sleek stand</p>
                <p class="bestsellers-price">300$</p>
              </div>
            </div>
          </li>
          <li class="bestsellers-item">
            <div class="no-mob">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers/bestsellers-5-desk.jpg    1x,
                    ./images/bestsellers/bestsellers-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />

                <source
                  srcset="
                    ./images/bestsellers/bestsellers-5-tabl.jpg    1x,
                    ./images/bestsellers/bestsellers-5-tabl-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <img
                  srcset="
                    ./images/bestsellers/bestsellers-5.jpg    1x,
                    ./images/bestsellers/bestsellers-5-2x.jpg 2x
                  "
                  src="./images/bestsellers/bestsellers-5.jpg"
                  alt="The minimalist sofa"
                  width="336"
                />
              </picture>
              <div class="bestsellers-text-cont">
                <p class="bestsellers-text">The minimalist sofa</p>
                <p class="bestsellers-price">650$</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
