<div class="menu-container js-menu-container" id="mobile-menu">
  <nav class="navigation">
    <div class="burger-navigation">
      <a class="header-logo link" href="./index.html">
        <svg class="header-svg" width="100" height="16">
          <use href="./images/header/icons.svg#logo"></use>
        </svg>
      </a>

      <button class="menu-toggle js-close-menu">
        <svg class="modal-svg" width="32" height="32">
          <use href="./images/header/icons.svg#close-btn"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a href="#about" class="js-close-menu">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#our-products" class="js-close-menu">Our products</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#price" class="js-close-menu">Prices</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#bestsellers" class="js-close-menu">Bestsellers</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#clients-reviews" class="js-close-menu">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#footer" class="js-close-menu">Contacts</a>
      </li>
    </ul>
  </nav>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
