<section class="clients-reviews" id="clients-reviews">

    <div class="container">
        <h1 class="cl-rev-title">Clients reviews</h1>
        <ul class="cl-rev-list">
            <li class="cl-rev-item">
    <div class="cl-rev-wrap">
        <div class="cl-rev-left-side">
            <img class="client-avatar" 
                srcset="./images/clients-reviews/aalexandra.png 1x, ./images/clients-reviews/aalexandra2x.png 2x"
                src="./images/clients-reviews/aalexandra.png" 
                alt="Alexandra"
                width="48"
                height="48">
        </div>
            
        <div class="cl-rev-right-side">
            <h2 class="client">Alexandra dream</h2>
            <h3 class="term">1 week ago</h3>
        </div>
    </div>
    <p class="client-review">I was blown away by the quality and craftsmanship of the furniture I
    received &nbsp; from this company. Each piece was unique and
    beautifully designed, and you can tell that a lot of thought and care
    goes into every detail. 
    </p>
            </li>
            <li class="cl-rev-item">
    <div class="cl-rev-wrap">
        <div class="cl-rev-left-side">
            <img class="client-avatar" 
                srcset="./images/clients-reviews/jjames.png 1x, ./images/clients-reviews/jjames.png 2x"
                src="./images/clients-reviews/jjames.png" 
                alt="Alexandra"
                width="48"
                height="48">
        </div>
            
        <div class="cl-rev-right-side">
            <h2 class="client">James Williams</h2>
            <h3 class="term">A week ago</h3>
        </div>
    </div>
    <p class="client-review">The "Minimal" furniture set is a fantastic addition to my home. It
    boasts a minimalist design, enhancing the feel and look of my living
    space.&nbsp; The sturdy construction is worth noting too, which speaks
    volumes about its durability. 
    </p>
            </li>
            <li class="cl-rev-item">
    <div class="cl-rev-wrap">
        <div class="cl-rev-left-side">
            <img class="client-avatar" 
                srcset="./images/clients-reviews/eemily.png 1x, ./images/clients-reviews/eemily2x.png 2x"
                src="./images/clients-reviews/eemily.png" 
                alt="Emily"
                width="48"
                height="48">
        </div>
            
        <div class="cl-rev-right-side">
            <h2 class="client">Emily Watson</h2>
            <h3 class="term">3 week ago</h3>
        </div>
    </div>
    <p class="client-review">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort. </p>
            </li>
        </ul>
    </div>
</section>
