<footer id="footer" class="foot">
  <div class="container-footer container">
    <div class="wrap-one">
      <div class="logo">
        <a href="#header-top">
          <svg class="svg-logo-footer" width="100" height="16">
            <use href="./images/footer/icons1.svg#icon-logo-logo"></use>
          </svg>
        </a>

      </div>

      <div class="nav1">
        <nav>
          <ul class="nav1-list">
            <li><a class="footer-menu-link link scroll-link" href="#about">About us</a></li>
            <li><a class="footer-menu-link link scroll-link" href="#our-products">Our products</a></li>
            <li><a class="footer-menu-link link scroll-link" href="#price">Prices</a></li>
            <li><a class="footer-menu-link link scroll-link" href="#bestsellers">Bestsellers</a></li>
            <li><a class="footer-menu-link link scroll-link" href="#clients-reviews">Reviews</a></li>
          </ul>
        </nav>
      </div>

      <div class="address">
        
          <address>
            <ul class="link-work">
            <li><a class="footer-work-link link adress" target="_blank"
              href="https://goo.gl/maps/JT8QrJDfb3AsmV7y8">Tomashpol, Vinnicka obl., 24200</a></li>
            <li><p class="footer-work" >Daily 10:00-21:00</p></li>
  
            </ul>
          </address>
      </div>

      <div class="tel">
        <ul class="footer-adress-list">
          <li class="adress-item">
            <a class="footer-address-link link" target="_blank" href="tel:+380680048859">+380680048859</a>
          </li>
          <li class="adress-item">
            <a class="footer-address-link link" target="_blank" href="tel:+380684765047">+380684765047</a>
          </li>
        </ul>
      </div>

      <div class="email">
        <a class="footer-address-link link footer-mail" target="_blank"
          href="mailto:minimal.furniture@gmail.com">vovkatome@gmail.com</a>
      </div>
    </div>

    <div class="nav2">
      <nav>
        <ul class="nav2-list">
          <li><a class="footer-menu-link link scroll-link" href="#about">About us</a></li>
          <li><a class="footer-menu-link link scroll-link" href="#our-products">Our products</a></li>
          <li><a class="footer-menu-link link scroll-link" href="#price">Prices</a></li>
          <li><a class="footer-menu-link link scroll-link" href="#bestsellers">Bestsellers</a></li>
          <li><a class="footer-menu-link link scroll-link" href="#clients-reviews">Reviews</a></li>
        </ul>
      </nav>

      <div class="tel2-email2-wrap">
        <div class="tel2">
          <ul class="footer-adress-list">
            <li class="adress-item">
              <a class="footer-address-link link" target="_blank" href="tel:+380680048859">+380680048859</a>
            </li>
            <li class="adress-item">
              <a class="footer-address-link link" target="_blank" href="tel:+380684765047">+380684765047</a>
            </li>
          </ul>
        </div>

        <div class="email2">
          <a class="footer-address-link link footer-mail" target="_blank"
            href="mailto:minimal.furniture@gmail.com">vovkatom@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="socials">
      <ul class="socials-list">
        <li class="socials-item">
          <a class="footer-url" target="_blank" href="https://facebook.com/">
            <svg class="svg-icon-footer" width="28" height="28">
              <use href="./images/footer/icons1.svg#icon-facebook-logo"></use>
            </svg>
          </a>

        </li>
        <li>
          <a class="footer-url" target="_blank" href="https://instagram.com/">

            <svg class="svg-icon-footer" width="28" height="28">
              <use href="./images/footer/icons1.svg#icon-instagram-logo"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="footer-url" target="_blank" href="https://youtube.com/">
            <svg class="svg-icon-footer" width="28" height="28">
              <use href="./images/footer/icons1.svg#icon-youtube-logo"></use>
            </svg>
          </a>

        </li>
      </ul>
      
    </div>
  </div>
  <div class="footer-using-1 container">
    <p class="footer-text">By using this website, you agree to the <a class="footer-agree" href="#">Terms of
        Servise</a> and <a class="footer-agree" href="#">Privacy Policy</a></p>
  </div>
  

  <p></p>
</footer>
