<header  id="header-top" class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">
        <svg class="header-svg" width="100" height="16">
          <use href="./images/header/icons.svg#logo"></use>
        </svg>
      </a>

      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#about">About us</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#our-products"

            >Our products</a
          >
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#price">Prices</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#bestsellers"

            >Bestsellers</a
          >
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#clients-reviews"

            >Reviews</a
          >
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="#footer">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="menu-toggle js-open-menu" aria-expanded="false">
      <svg class="header-menu-svg" width="32" height="32">
        <use href="./images/header/icons.svg#align-justify"></use>
      </svg>Menu
    </button>
  </div>
</header>
