<section class="hero container">
  <div class="hero-container">
    <div class="hero-images">
      <div class="hero-image first-image "></div>
      <div class="hero-image wider-image"></div>
      <div class="hero-image last-image"></div>
    </div>

    <div class="hero-content container ">
      <h1 class="hero-title">Modern and minimalist furniture for you</h1>
      <p class="hero-text">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>

      <button class="hero-button" onclick="scrollToAnchor('subscription')">
        Subscribe
      </button>
    </div>
  </div>
</section>
