<section class="hero container" container>
  <div class="hero-container">
    <h1 class="hero-title">Modern and minimalist furniture for you</h1>
    <p class="hero-text">
      Add a touch of elegance to your space with handcrafted furniture pieces
    </p>

    <button class="hero-button heartbeat" data-target="#subscription">
      Subscribe
    </button>
  </div>

  <script>
    function scrollToAnchor(anchorId) {
      var anchor = document.getElementById(anchorId);
      if (anchor) {
        anchor.scrollIntoView({ behavior: 'smooth' });
      }
    }
  </script>
</section>
