<section id="our-products">
    <div class="container">
    <h2 class="our-products-label">OUR PRODUCTS</h2>
<ul class="products-list">
    <li class="product-item">
      <picture>

        <source
        srcset="
          ./images/our-products/product5-desk.jpg 1x,
          ./images/our-products/product5-desk-2x.jpg 2x"
        media="(min-width:1440px)"/>

        <source
        srcset="
          ./images/our-products/product4-tab.jpg 1x,
          ./images/our-products/product4-tab-2x.jpg 2x"
        media="(min-width:768px)"/>

        <source
        srcset="
          ./images/our-products/product3-mob.jpg 1x,
          ./images/our-products/product3-mob-2x.jpg 2x"
        media="(min-width:320px)"/>
        
        <img
              class="product-image"
              src="./images/our-products/product4-tab.jpg"
              alt="product-example"
              />
      </picture>
            <h2 class="product-paragraph">Minimalist storage solutions</h2>
    </li>

    <li class="product-item">
      <picture>
        
        <source
        srcset="
          ./images/our-products/product7-desk.jpg 1x,
          ./images/our-products/product7-desk-2x.jpg 2x"
        media="(min-width:1440px)"/>

        <source
        srcset="
          ./images/our-products/product6-tab.jpg 1x,
          ./images/our-products/product6-tab-2x.jpg 2x"
        media="(min-width:768px)"/>

        <img
            class="product-image"
            src="./images/our-products/product6-tab.jpg"
            alt="product-example"
              />
      </picture>
            <h2 class="product-paragraph">Handcrafted minimalist seating</h2>
    </li>

    <li class="product-item">
        <img
                class="product-image"
                srcset="./images/our-products/product8-2x.jpg 2x"
                src="./images/our-products/product8.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <h2 class="product-paragraph">Sleek and simple tables</h2>
    </li>

    <li class="product-item">
        <img
                class="product-image"
                srcset="./images/our-products/product9-2x.jpg 2x"
                src="./images/our-products/product9.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <h2 class="product-paragraph">Minimalist seating for every space</h2>
    </li>
</ul>
  </div>
</section>
