<!-- Our products START -->

<section class="our-products">
    <div class="container">
    <h2 class="our-products-label">OUR PRODUCTS</h2>
<ul class="products-list">
    <li class="product-item">
        <img
                class="product-image"
                srcset="./images/our-products/product3-2x.jpg 2x"
                src="./images/our-products/product3.jpg"
                alt="product-example"
                width="343"
                height="300"
              />
        <img
                class="tablet-product-image"
                srcset="./images/our-products/product4-2x.jpg 2x"
                src="./images/our-products/product4.jpg"
                alt="product-example"
                width="344"
                height="300"
              />
        <img
                class="desktop-product-image"
                srcset="./images/our-products/product5-2x.jpg 2x"
                src="./images/our-products/product5.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <p class="product-paragraph">Minimalist storage solutions</p>
    </li>
    <li class="product-item">
        <img
                class="tablet-product-image"
                srcset="./images/our-products/product6-2x.jpg 2x"
                src="./images/our-products/product6.jpg"
                alt="product-example"
                width="344"
                height="300"
              />
        <img
                class="desktop-product-image"
                srcset="./images/our-products/product7-2x.jpg 2x"
                src="./images/our-products/product7.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <p class="product-paragraph">Handcrafted minimalist seating</p>
    </li>
    <li class="product-item">
        <img
                class="desktop-product-image"
                srcset="./images/our-products/product8-2x.jpg 2x"
                src="./images/our-products/product8.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <p class="product-paragraph">Sleek and simple tables</p>
    </li>

    <li class="product-item">
        <img
                class="desktop-product-image"
                srcset="./images/our-products/product9-2x.jpg 2x"
                src="./images/our-products/product9.jpg"
                alt="product-example"
                width="312"
                height="300"
              />
            <p class="product-paragraph">Minimalist seating for every space</p>
    </li>
</ul>
    </div>
</section>

<!-- Our products FINISH -->