<section id="price" class="price">
    <div class="container">
        <div class="price-container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="price-list list">
            <li class="price-item">
                <div class="price-item-text">
                <div class="line">
                </div>
                    <p class="price-text-name">Chairs</p>
                </div>
                <p class="price-text-money">from 200$</p>
            </li>
            <li class="price-item">
                <div class="price-item-text">
                    <div class="line">
                    </div>
                <p class="price-text-name">Tables</p>
                </div>
                <p class="price-text-money">from 250$</p>
            </li>
            <li class="price-item">
                <div class="price-item-text">
                    <div class="line">
                    </div>
                <p class="price-text-name">Dressers</p>
                </div>
                <p class="price-text-money">from 300$</p>
            </li>
            <li class="price-item">
                <div class="price-item-text">
                    <div class="line">
                    </div>
                <p class="price-text-name">Sofas</p>
                </div>
                <p class="price-text-money">from 500$</p>
            </li>
        </ul>
        </div>
    </div>
</section>