.container-footer {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 36px;
    background-color: var(--blue-font, #0a224a);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-flow: wrap;
    display: flex;
}


.footer {}

.footer-first {}

.container-logo {}

.footer-container-logo {
   
    /* display: block; */
}


.footer-nav {
   width: 100%;
  
    /* margin-top: 42px; */
    
   
}

.svg-logo-footer {}

/* --------------------flex-direction: column;------------------------------------------------ */
.footer-list {

    flex-direction: column;
     margin-top: 36px; 
    font-size: 16px;
    color: var(--color-white, #ffffff);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 36px;
    gap: 8px;
    display: flex;



}

.footer-menu-link {}

/* ------------------------------------soc----------------------------------- */
.footer-container-social {
    margin-left: 127px;

}

.list-footer-social {
    display: flex;
    gap: 16px;
    padding: auto;
   


}


.footer-item {
    padding-right: 0;

}

.footer-url {
    width: 28px;
    height: 28px;
}


.svg-icon-footer {
    fill: var(--color-white, #ffffff);


}

.footer-work-container {
    display: flex;
    display: table-column;
  

    

}

.footer-work-link {
    color: var(--color-white, #ffffff);
}


.work-hour-footer {     
    color: var(--color-white, #ffffff);

}




.footer-adress {}


.footer-adress-container {}



 .footer-adress-work {

    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;

} 

 .footer-adress-list { 
/* margin-left: 87px; */
 margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 324px;
    gap: 8px;
    width: calc((100% - 82px) / 2);
    font-style: normal;





}

.adress-item {
    display: flex;
    color: var(--color-white, #ffffff);


}

.footer-mail {
    display: none;
}

.footer-address-link {}

.footer-using {
    margin-top: 64px;

}

.footer-text {
    color: var(--color-white, #ffffff);
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.188px;

}

.footer-agree {
    text-decoration-line: underline;
}



/* -------------------------768------------------------------- */

 @media screen and (min-width: 768px) {
     .container-footer {
        /* display: flex;
        flex-wrap: wrap; */
         min-width: 768px;
         padding: 36px 32px;
   
        
    
     }

    .svg-logo-footer {
        width: 127px;
    }


    .svg-icon-footer {
        width: 40px;
        height: 40px;
        gap: 64px;
    }
    .footer-container-social {
       
        margin-left: 64px;
        /* float: right; */
    }
    .footer-nav {
        /* position: absolute; */
       
        /* float: left; */
        width: auto;
      
    }
    .footer-list {
       margin-top: 0; 
    }
    .footer-work-container {
        display: flex;
        flex-wrap: wrap;
        
    }

 




    }








/* 90000000000000000000000000000000000000000 */

/* .footer-first {
        display: flex;   
        flex-flow: wrap;


    } */

/* .footer-list {
        margin-top: 0;
        gap: 8px;
        font-size: 16px;
        padding: 8px;
        margin-bottom: 36px;
    }

    .footer-nav {}

   
    .footer-menu-link {
        font-size: 18px;
        gap: 16px;
    }

    .svg-logo-footer {
        width: 127px;

    }

    .svg-icon-footer {
        width: 40px;
        height: 40px;
    }

    .footer-url {

        width: 40px;
        height: 40px;
    }


    .footer-container-logo {
        /* order: 1; */
/* margin-right: 120px;
    } */
/* .svg-logo-footer {
         width: 127px;
         height: 16px;
    }
    .footer-nav { */
/* order: 2; */
/* margin-right: 64px;

    } */

/* .footer-container-social { */
/* order: 3; */

/* }

    .footer-adress-list {
        gap: 24px;
    }

    .footer-work-container {
        gap: 24px;
    }





    .footer-text {
        font-size: 16px;
    }



} */





/* ------------------------------------------------------------------------------------ */
/* .footer-adress {}


.footer-adress-container {} */
/* 000000000000000000000000000000000000000000000000000000000000000000 */
/* .footer-adress-work {

    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;

} */

/* .footer-adress-list { */
    /* margin-left: 87px; */
    /* margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 324px;
    gap: 8px;
    width: calc((100% - 82px) / 2);
    font-style: normal;





}

.adress-item {
    display: flex;
    color: var(--color-white, #ffffff);


}



.footer-address-link {}



.footer-work-container {

    margin-top: 36px;
    display: flex;

}





.footer-using {
    margin-top: 64px;

}

.footer-text {
    color: var(--color-white, #ffffff);
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.188px;

}

.footer-agree {
    text-decoration-line: underline;
} */



/* @media screen and (min-width: 320px) and (max-width: 375px) {
    .container-footer {
        min-width: 320px;
        padding: 36px 16px 16px 16px;
       

    }

    .footer-mail {
        display: none;
    }

  
}  */

/* ------------------768----------------------------------------------------- */

/* @media screen and (min-width: 768px) {
    .container-footer {
        min-width: 768px;
        padding: 36px 32px;

    } */
    /* 90000000000000000000000000000000000000000 */

    /* .footer-first {
        display: flex;   
        flex-flow: wrap;


    } */

    /* .footer-list {
        margin-top: 0;
        gap: 8px;
        font-size: 16px;
        padding: 8px;
        margin-bottom: 36px;
    }

    .footer-nav {}

   
    .footer-menu-link {
        font-size: 18px;
        gap: 16px;
    }

    .svg-logo-footer {
        width: 127px;

    }

    .svg-icon-footer {
        width: 40px;
        height: 40px;
    }

    .footer-url {

        width: 40px;
        height: 40px;
    }


    .footer-container-logo {
        /* order: 1; */
        /* margin-right: 120px;
    } */
    /* .svg-logo-footer {
         width: 127px;
         height: 16px;
    }
    .footer-nav { */
        /* order: 2; */
        /* margin-right: 64px;

    } */

    /* .footer-container-social { */
        /* order: 3; */

    /* }

    .footer-adress-list {
        gap: 24px;
    }

    .footer-work-container {
        gap: 24px;
    }





    .footer-text {
        font-size: 16px;
    }



} */


 


 
/* 
@media screen and (min-width: 1440px) {
    .container-footer {
        min-width: 1440px;
        padding: 0 60px;
    }
} */