
 :root {
     --color-blue: #0a224a;
     --color-grey: #7a7a7a;
     --color-dark-grey: #b6b6b6;
     --color-gainsboro: #d9d9d9;
     --color-light-blue: #f7faff;
     --color-white: #ffffff;
     --color-hover: #061835;
     --color-error: #e74a3b;

     --primary-font: 'Roboto', sans-serif;
     --secondary-font: 'PlayfairDisplay', sans-serif;
 }

 body {
     color: var(--blue-font, #0a224a);
     font-family: var(--color-white, #ffffff);
     font-size: 16px;
     line-height: 1.5;
     /* 150% */
    font-family: "Roboto", sans-serif;
 }


.container-footer {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 36px;
    background-color: var(--blue-font, #0a224a);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        /* line-height: normal; */
    font-style: normal;
}


.footer {
    
} 

.footer-first {

    /* flex-wrap: wrap-reverse; */
    /* display: flex-wrap; */
    /* flex-wrap: wrap;  */
    /* width: calc((100% - 172px) / 2); */
    /* flex-wrap: wrap; */
        /* display: inline; */
        /* max-width: 100px; */
        /* margin: 0; */
}

 




.container-logo {
    /* flex-wrap: wrap;
    display: flex;  */
}
.footer-container-logo {
    /* float: left; */
    display: block;
}
/* ----------------------------------------- */
/* .footer-container-logo {
   display: flex;
    

} */

.footer-nav {
}

.svg-logo-footer {
        /* margin-top:42px;  */
            
            
}

/* --------------------flex-direction: column;------------------------------------------------ */
.footer-list {
    
    /* color: #FFFFFF; */
    /* gap: 30px; */
    flex-direction: column;
    margin-top: 36px; 
    /* margin-top: 42px; */
        /* margin-left: 209px; */
        /* display: inline-flex; */
        font-size: 16px;
        /* padding: 8px; */
        /* gap: 30px; */
        /* gap: 8px; */
        color: var(--color-white, #ffffff);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 36px;
        gap: 8px;
        
   
       
}

.footer-menu-link {
    
}


.footer-container-social {
    /* float: right; */
    /* margin-right: 60px; */
    
    /* margin-top: 36px; */
     /* margin-left: 286px;  */
    /* margin: auto 0; */
     /* display: inline; */
     
}

.list-footer-social {
    /* flex-wrap: wrap; */
    display: flex;
    /* gap: 30px; */
    gap: 16px;
    /* float: left; */
    
}
.footer-adress-work {
    /* display: flex; */
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;
    text-align: 
}

.footer-item {

}

.footer-url {
    /* gap: 30px; */
    width: 40px;
    height: 40px;
}


.svg-icon-footer {
    fill: var(--color-white, #ffffff);


}

.footer-adress {}


.footer-adress-container {


}

.footer-adress-list {
    /* margin-left: 87px; */
    margin-top: 39px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 324px;
    gap: 8px;
    width: calc((100% - 82px) / 2);
    font-style: normal;
    
    
    

    
}

.adress-item {
    display: flex; 
    color: var(--color-white, #ffffff);
    /* gap: 24px; */
    
}



.footer-address-link {

}



.footer-work-container {
    /* margin-left: 60px; */
    margin-top: 36px;

}


.footer-work-link {
    color: var(--color-white, #ffffff);
    
}


.work-hour-footer {
    /* flex-wrap: wrap;
    display: flex; */
    color: var(--color-white, #ffffff);
     margin-top: 8px; 
}



.footer-using {
    margin-top: 64px;

}

.footer-text {
    color: var(--color-white, #ffffff);
    text-align: center;
    
    font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1.188px;
       
}

.footer-agree {
    text-decoration-line: underline;
}
