.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  padding-top: 36px;
  padding-bottom: 36px;
  line-height: 0;

  /* padding-left: 16px; */
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

/* .header-logo {
  min-height: 16px;
  min-width: 100px;
} */
/* 
@media only screen and (min-width: 768px) {
  .header-logo {
    min-width: 127px;
  }
} */

.header-svg {
  stroke: var(--color-blue);
  fill: var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .header-svg {
    min-height: 16px;
    min-width: 127px;
  }
}

/* .header-navigation-list {
  display: none;
} */

.header-navigation-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-blue);
}

.menu-burger {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.header-menu-svg {
  stroke: var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .header-menu-svg {
    min-width: 40px;
    min-height: 40px;
  }
}
