.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  padding-top: 36px;
  padding-bottom: 36px;
  line-height: 0;
  display: flex;

  /* padding-left: 16px; */
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

.header-logo {
  min-height: 16px;
  min-width: 100px;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    min-width: 127px;
  }
}

.header-svg {
  stroke: var(--color-blue);
  fill: var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .header-svg {
    min-height: 16px;
    min-width: 127px;
  }
}

.header-navigation-list {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .header-navigation-list {
    display: flex;
    margin-left: 572px;
    gap: 30px;
  }
}

.header-navigation-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-blue);
}

.menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

@media only screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}
.header-menu-svg {
  stroke: var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .header-menu-svg {
    min-width: 40px;
    min-height: 40px;
  }
}

/*  burger-menu */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0px 16px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.header-dop {
  display: flex;
  justify-content: space-between;
}

.modal-svg {
  fill: var(--color-blue);
  stroke: var(--color-blue);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
