.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.hero-images {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.hero-image {
  background-repeat: no-repeat;
}

.first-image {
  align-items: center;
  width: 766px;
  height: 716px;
  background-image: url('../images/hero/hero-mob.jpg');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-image {
    align-items: center;
    background-size: contain;
    background-image: url('../images/hero/hero-mob-2x.jpg');
  }
}

.wider-image,
.last-image {
  display: none;
}

.hero-content {
  z-index: 1;
  padding-top: 140px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  margin: 0;
}

.hero-title {
  max-width: 300px;
  color: var(--blue-font, #0a224a);
  font-family: var(--secondary-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-text {
  max-width: 443px;
  /* padding-top: 14px; */
  /* padding-bottom: 28px; */
}

.hero-button {
  display: flex;
  width: 224px;
  padding: 12px 65px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: var(--blue-font, #0a224a);

  color: var(--white, #fff);
}

@media screen and (min-width: 768px) {
  .hero {
    height: 694px;
    max-width: 768px;
  }

  .first-image {
    display: flex;
    align-items: flex-end;
    max-height: 326px;

    width: 366px;
    height: 530px;
    background-image: url('../images/hero/hero-tab1.jpg');
    margin-bottom: 166px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-image {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero-tab1-2x.jpg');
    }
  }

  .wider-image {
    display: flex;
    width: 466px;
    height: 530px;
    background-image: url('../images/hero/hero-tab2.jpg');
    margin-bottom: 166px;
    margin-right: 30px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wider-image {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero-tab2-2x.jpg');
    }
  }

  .hero-content {
    padding-top: 0;
    padding-left: 26px;
  }

  .hero-title {
    max-width: 648px;
    font-size: 50px;
  }

  .hero-text {
    max-width: 312px;
    padding-top: 410px;
    padding-bottom: 8px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-images {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .hero {
    max-width: 1354px;
    height: 530px;
  }

  .first-image {
    align-items: center;
    width: 310px;
    height: 324px;
    background-image: url('../images/hero/hero1.jpg');
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-image {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero1-2x.jpg');
    }
  }

  .wider-image {
    width: 648px;
    height: 530px;
    background-image: url('../images/hero/hero2.jpg');
    margin-bottom: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wider-image {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero2-2x.jpg');
    }
  }

  .last-image {
    display: flex;
    width: 312px;
    height: 337px;
    background-image: url('../images/hero/hero3.jpg');
    margin-bottom: 193px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .last-image {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero3-2x.jpg');
    }
  }

  .hero-content {
    width: 1360px;
  }

  .hero-title {
    max-width: 648px;
    font-size: 50px;
  }

  .hero-text {
    max-width: 312px;
    padding-top: 0;
    margin-left: 999px;
    padding-bottom: 28px;
    font-size: 18px;
    padding-top: 252px;
  }

  .hero-button {
    margin-left: 999px;
  }
}
