@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.heartbeat {
  animation: heartbeat 2s ease-in-out infinite both;
}

.hero-title {
  max-width: 300px;
  color: var(--blue-font, #0a224a);
  font-family: var(--secondary-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-text {
  max-width: 300px;
}

.hero-button {
  display: flex;
  width: 224px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  float:left;
  margin-top:36px;
  gap: 6px;
  background: var(--blue-font, #0a224a);
  height: 50px;
  color: var(--white, #fff);
  font-size: 18px;
  line-height: 1.33;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-hover, #061835);
}

.hero-container {
  background-repeat: no-repeat;
  padding-top: 140px;
}

@media screen and (min-width: 320px) {
  .hero-container {
    align-items: center;
    height: 716px;
    width: 766px;
    background-image: url('../images/hero/hero-mob.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      align-items: center;
      background-size: contain;
      background-image: url('../images/hero/hero-mob-2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 170px;
  }

  .hero-container.container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-container {
    padding-top: 0;
    padding-top: 60px;
    align-items: center;
    height: 531px;
    width: 688px;
    background-image: url('../images/hero/hero-tab1.jpg'),
      url('../images/hero/hero-tab2.jpg');
    background-position: left bottom, right bottom;

    background-size: 43%, 51%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../images/hero/hero-tab1-2x.jpg'),
        url('../images/hero/hero-tab2-2x.jpg');
      background-position: left bottom, right bottom;
    }
  }

  .hero-title {
    max-width: 648px;
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width:1399px){
    .hero-text {
        max-width: 312px;
        padding-top: 400px;
        font-size: 18px;
        float: left;
      }
}
@media screen and (min-width: 1440px) {
    .hero-text {
      max-width: 312px;
      padding-top: 225px;
      font-size: 18px;
      float: right;
    }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 0;
    align-items: center;
    height: 530px;
    width: 1320px;
    background-image: url('../images/hero/hero1.jpg'),
      url('../images/hero/hero2.jpg'), url('../images/hero/hero3.jpg');
    background-position: left bottom, center bottom, right top;
    background-size: 23.5%, 50%, 23.5%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../images/hero/hero1-2x.jpg'),
        url('../images/hero/hero2-2x.jpg'), url('../images/hero/hero3-2x.jpg');
    }
  }
}
