@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./price.css');
@import url('./our-products.css');
@import url('./bestsellers.css');
@import url('./clients-reviews.css');
@import url('./subscription.css');
@import url('./footer.css');
@import url('./burger-menu.css');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.ttf') format('truetype');
  font-display: swap;

  font-family: 'PlayfairDisplay';
  src: url('../fonts/playfairdisplay.ttf') format('truetype');
  font-display: swap;
}

:root {
  --color-blue: #0a224a;
  --color-grey: #7a7a7a;
  --color-dark-grey: #b6b6b6;
  --color-gainsboro: #d9d9d9;
  --color-light-blue: #f7faff;
  --color-white: #ffffff;
  --color-hover: #061835;
  --color-error: #e74a3b;

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'PlayfairDisplay', sans-serif;
}

body {
  color: var(--blue-font, #0a224a);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5; /* 150% */
}
