/*------------- 320 ----------------*/
.newsletter {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 100%;
}

.newsletter-form-wrap {
  max-width: 100%;
  margin-bottom: 30px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  color: var(--blue-font, #0a224a);
}

.newsletter-text {
  margin-bottom: 30px;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-name-wrap {
  position: relative;
  margin-bottom: 20px;
}

.newsletter-input {
  padding: 11px 20px;

  width: 100%;
  height: 52px;

  border: 1px solid var(--dark-grey, #b6b6b6);
  outline: transparent;

  color: var(--blue-font, #0a224a);
  font-size: 18px;
  line-height: 1.5;
}

.newsletter-input:hover,
.newsletter-input:focus {
  border: 1px solid var(--blue-font, #0a224a);
}

.newsletter-input::placeholder {
  color: var(--grey, #d9d9d9);
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-email-wrap {
  position: relative;
  margin-bottom: 20px;
}

.newsletter-error-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

/*------------------------------------------------*/
.newsletter-input:invalid:focus {
  color: #e74a3b;
  border: 1px solid #e74a3b;
}
.newsletter-input:invalid:focus + .newsletter-error-icon {
  opacity: 1;
}
/*------------------------------------------------*/

.newsletter-check-text {
  margin-bottom: 32px;

  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-check-text span {
  width: 25px;
  height: 25px;
  border: 1px solid var(--dark-grey, #b6b6b6);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.newsletter-check:checked + .newsletter-check-text span {
  background-color: var(--blue-font, #0a224a);
  border: none;
  fill: var(--white, #fff);
}

.newsletter-submit-btn {
  padding: 17px 65px;
  width: 224px;

  background-color: var(--blue-font, #0a224a);
  color: var(--white, #fff);
  font-size: 18px;
  line-height: 1.33;

  border: none;
}

.newsletter-submit-btn:hover,
.newsletter-submit-btn:focus {
  background-color: #061835;
}

.newsletter-img-wrap {
  max-width: 100%;
}

/*-------- 768 tablet ---------------------*/
@media screen and (min-width: 768px) {
  .newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .newsletter > .container {
    width: 768px;
  }
  .newsletter-form-wrap {
    margin-bottom: 64px;
    max-width: 536px;
  }
  .newsletter-title {
    margin-bottom: 30px;

    font-size: 32px;
    line-height: 1.4;
    text-align: start;
  }

  .newsletter-text {
    font-size: 18px;
  }
  .newsletter-input::placeholder {
    font-size: 18px;
  }

  .newsletter-check-text {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

/*-------- 1440 desktop ---------------------*/
@media screen and (min-width: 1440px) {
  .newsletter {
    padding-top: 100px;
    padding-bottom: 86px;
  }
  .newsletter > .container {
    width: 1440px;
  }
  .newsletter-container {
    max-width: 1214px;
    display: flex;
    gap: 100px;
  }
  .newsletter-form-wrap {
    margin-bottom: 0px;
    width: 536px;
  }
  .newsletter-title {
    margin-bottom: 31px;
  }
  .newsletter-text {
    margin-bottom: 20px;
  }

  .newsletter-check-text {
    margin-bottom: 31px;
  }
  .newsletter-img-wrap {
    width: 460px;
  }
}
